<div class="footer">
    <a href="https://github.com/FastFingertips/lizard" target="_blank" rel="noopener noreferrer">
        <img src="https://img.shields.io/github/last-commit/fastfingertips/lizard?style=flat&&label=last%20update&labelColor=%2314181C&color=%2320272E"/>
    </a>
    <img src="https://visitor-badge.laobi.icu/badge?page_id=FastFingertips.lizardb&left_color=%2314181C&right_color=%2320272E"/>
    <a href="https://letterboxd.com/fastfingertips/" target="_blank" rel="noopener noreferrer">
        <img src="https://img.shields.io/badge/letterboxd-fastfingertips-black?style=flat&labelColor=14181C&color=20272E"/>
    </a>
</div> 